<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.bjjc.scmapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:name=".app.App"
            android:icon="@mipmap/launch_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="AllowBackup">
        <activity android:name=".ui.activity.CenterOutSendReduceBoxActivity">
        </activity>
        <!-- developmentMode，debug:debugMode，test:testMode，pro:productionMode -->
        <meta-data
                android:name="DEV_MODEL"
                android:value="debug"/> <!-- MainActivity -->
        <activity android:name=".ui.activity.MainActivity">
        </activity> <!-- LoginActivity -->
        <activity
                android:name=".ui.activity.LoginActivity"
                android:theme="@style/AppTheme.intrusiveMood">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <!-- SplashActivity -->
        <activity
                android:name=".ui.activity.SplashActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <!-- CenterOut -->
        <activity android:name=".ui.activity.CenterOutModeActivity">
        </activity>
        <activity android:name=".ui.activity.CenterOutSendActivity">
        </activity>
        <activity android:name=".ui.activity.CenterOutActivity">
        </activity>
        <activity android:name=".ui.activity.CenterOutTransferActivity">
        </activity>
        <activity android:name=".ui.activity.CenterOutReverseActivity">
        </activity>
        <activity android:name=".ui.activity.CenterOutSendDetailActivity"
                  android:windowSoftInputMode="adjustPan|stateHidden">
        </activity> <!-- CenterIn -->
        <activity android:name=".ui.activity.CenterInModeActivity">
        </activity>
        <activity android:name=".ui.activity.CenterInActivity">
        </activity>
        <activity android:name=".ui.activity.CenterInTransferActivity">
        </activity>
        <!-- Center -->
        <activity android:name=".ui.activity.SearchActivity">
        </activity>
        <activity android:name=".ui.activity.InventoryActivity">
        </activity>
        <activity android:name=".ui.activity.StandingBookActivity">
        </activity>
        <activity android:name=".ui.activity.SettingActivity">
        </activity>
        <activity android:name=".ui.activity.AboutActivity">
        </activity>
    </application>

</manifest>