<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bjjc.scmapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name=".app.App"
            android:allowBackup="false"
            android:icon="@mipmap/launch_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!-- 开发模式，debug:调试（开发）模式，test:测试模式，pro:生产模式 -->
        <meta-data
                android:name="DEV_MODEL"
                android:value="debug"/>

        <activity android:name=".main.ui.activity.MainActivity">
        </activity>
        <activity
                android:name=".login.ui.activity.LoginActivity"
                android:theme="@style/AppTheme.intrusiveMood">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".common.SplashActivity"
                android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity android:name=".ChuKu.ui.activity.ChuKuActivity">
        </activity>
        <activity android:name=".ChuKu.ui.activity.RuKuActivity">
        </activity>
        <activity android:name=".ChuKu.ui.activity.SearchActivity">
        </activity>
        <activity android:name=".ChuKu.ui.activity.InventoryActivity">
        </activity>
        <activity android:name=".ChuKu.ui.activity.StandingbookActivity">
        </activity>
    </application>

</manifest>